@import "s2/s2";
@import "mixins";

body {
    font: 15px "Open Sans";
    margin: 0px;
    position: relative;
}

body.scroll {
    overflow-y: scroll;
}

h1 {
    font: 300 36px Raleway;
    margin: 7px 0px;
}

h2 {
    font: 300 24px Raleway;
    margin-bottom: 7px;
}

h3 {
    font: 300 20px Raleway;
    margin-bottom: 7px;
}

p {
    margin: 7px 0px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.ig-main-header {
    @include clearfix;

    background: #fefefe;
    border-bottom: 2px solid $green3;
    height: 78px;
    margin-bottom: 20px;
    padding: 15px 0px;

    .title {
        color: #444;
        font: 300 48px/48px "Open Sans";
        letter-spacing: -2px;
        text-decoration: none;
    }
    .igem {
        color: $green3;
        font-weight: 800;
        letter-spacing: -3px;
    }
    .igem-logo {
        float: right;
    }

    nav {
        display: inline;

        a {
            color: #666;
            font: 300 14px Raleway;
            margin-left: 10px;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
            &.current {
                border-bottom: 2px solid $purple2;
                text-decoration: none;
            }
        }
    }
}

.ig-scroll-wrapper {
    font-size: 0px;
    position: relative;
    overflow-x: hidden; // Keep the X scroll bar from appearing
}

.ig-scroller {
    @include clearfix; // Extend the height to fit the content

    font-size: 0px;
    left: 0px;
    position: relative;
    width: 400%;
}

.ig-tileset-outer {
    float: left;
    margin: 0px 3.33%;
    max-width: 100%;
    position: relative;
    width: 18.34%;
}

.ig-tileset-inner {
    padding-top: percentage(1/$kTileset);
    position: relative;
}


.ig-tile {
    cursor: pointer; // Fake links
    display: none;
    font-size: 0px; // Prevent text from misaligning the image and overlay
    overflow: hidden;
    position: absolute;

    img, video {
        width: 100%; // All images are sized to the golden ratio
    }

    .text {
        @include background-image(linear-gradient(transparent, rgba(0, 0, 0, 0.75) 80%));

        bottom: 0px;
        left: 0px;
        padding: 7px;
        padding-top: 18px;
        position: absolute;
        right: 0px;

        h2, h3, p {
            color: $white;
            width: 100%;
        }

        p {
            font-size: 14px;
        }
    }
}

// Tile positions
// ==============
$margin: 0.75%;
$halfmargin: $margin / $kTileset;
@mixin tile($left, $top, $width, $height: 0) {
    @if $height == 0 {
        $height: $width / $kTile;
    }
    height: $height - $margin;
    left: $left;
    top: $top;
    width: $width - $halfmargin;
}

.wl-1 { @include tile(0%, 0%, 60%); }
.wl-2 { @include tile(60%, 50%, 40%); }
.wl-3 { @include tile(60%, 25%, 20%); }
.wl-4 { @include tile(40%, 75%, 20%); }
.wl-5 { @include tile(80%, 0%, 20%); }
.wl-6 { @include tile(20%, 75%, 20%); }

.dl-1 { @include tile(0%, 0%, 60%); }
.dl-2 { @include tile(60%, 50%, 40%); }
.dl-3 { @include tile(40%, 75%, 20%); }
.dl-4 { @include tile(60%, 25%, 20%); }

.hp-1 { @include tile(0%, 0%, 60%); }
.hp-2 { @include tile(60%, 25%, 20%); }
.hp-3 { @include tile(60%, 25%, 20%); }
.hp-4 { @include tile(60%, 25%, 20%); }

.te-1 { @include tile(0%, 0%, 100%, 75%); }
.te-2 { @include tile(20%, 75%, 20%); }
.te-3 { @include tile(40%, 75%, 20%); }
.te-4 { @include tile(60%, 75%, 20%); }

.ig-arrow {
    cursor: pointer;
    opacity: 0.7;
    position: absolute;
    top: 45%;
    z-index: 3;

    &.leftarrow { left: 12px; }
    &.rightarrow { right: 12px; }
}

nav.sidebar {
    @include s2-col(3, 12);

    padding-top: 10px;
    text-align: right;

    // Page header
    h1 {
        border-bottom: 1px dotted #666;
        font: 18px Raleway;
        margin: 0px;
        padding-bottom: 10px;
        text-align: right;
    }

    // Sub-page links
    a {
        @include quiet-link;
        color: #666;
        display: block;
        font: 14px Raleway;
        margin: 15px 0px;
    }
    
    // The description paragraph
    p {
        color: #999;
        display: none;
        font: 12px "Open Sans";
        padding-left: 25%;
    }
}

.content {
    @include s2-col(9, 12);

    padding-left: 10px;
}