@import "s2/s2";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,800|Raleway:300,400);

// Tango colours
$yellow1: #fce94f;
$yellow2: #edd400;
$yellow3: #c4a000;
$orange1: #fcaf3e;
$orange2: #f57900;
$orange3: #ce5c00;
$brown1:  #e9b96e;
$brown2:  #c17d11;
$brown3:  #8f5902;
$green1:  #8ae234;
$green2:  #73d216;
$green3:  #4d9a06;
$blue1:   #729fcf;
$blue2:   #3465a4;
$blue3:   #204a87;
$purple1: #ad7fa8;
$purple2: #75507b;
$purple3: #5c3566;
$red1:    #ef2929;
$red2:    #cc0000;
$red3:    #a40000;

$white: #f8f8f8;

// Golden ratio
$G: 1.6;
$g: 1 / $G;

html {
    //@include background-image(radial-gradient(circle at 50% 85%, $purple2, #f8f8f8 80%));
    background-image: url("../r/uo2014-gplay.png");
    //background-attachment: fixed;
    //background-repeat: no-repeat;
    //background-size: cover;
    height: 100%;
}

body {
    font: 16px "Open Sans";
    height: 100%; // Stretch the height of the body
    margin: 0px;
    position: relative;
}

h2 {
    font: 300 32px Raleway;
    margin-bottom: 7px;
}

h3 {
    font: 300 24px Raleway;
    margin-bottom: 7px;
}

p {
    margin: 7px 0px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.ig-main-header {
    @include clearfix;
    
    // $side-color: rgba(255, 255, 255, 0.2);
    // $center-color: rgba(60, 100, 60, 0.40);
    // @include background-image(linear-gradient(left, $side-color, $center-color, $side-color));
    // @include background-image(radial-gradient(ellipse at 50% 100%, $center-color, $side-color 90%));
    background: #fcfcfc;
    border-bottom: 2px solid $green3;
    height: 78px;
    margin-bottom: 20px;
    padding: 15px 20px;

    .title {
        color: #444;
        font: 300 48px/48px "Open Sans";
        letter-spacing: -2px;
    }
    .igem {
        color: $green3;
        font-weight: 800;
        letter-spacing: -3px;
    }
    .igem-logo {
        float: right;
    }

    // Navigation
    // ----------
    a {
        color: #666;
        font: 300 0.9em Raleway;
        margin-left: 10px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            text-decoration: underline;
        }
    }
}

.ig-scroll-wrapper {
    font-size: 0px;
    position: relative;
    overflow-x: hidden; // Keep the X scroll bar from appearing
}

.ig-scroller {
    @include clearfix; // Extend the height to fit the content

    font-size: 0px;
    left: 0px;
    position: relative;
    width: 400%;
}

.ig-tileset-outer {
    float: left;
    margin: 0px 3.33%;
    max-width: 100%;
    position: relative;
    width: 18.34%;
}

.ig-tileset-inner {
    padding-top: 50%;
    position: relative;
}


.ig-tile {
    cursor: pointer; // Fake links
    display: none;
    font-size: 0px; // Prevent text from misaligning the image and overlay
    overflow: hidden;
    position: absolute;

    img {
        width: 100%; // All images are sized to the golden ratio
    }

    .text {
        @include background-image(linear-gradient(transparent, rgba(0, 0, 0, 0.75) 80%));

        bottom: 0px;
        left: 0px;
        padding: 7px;
        padding-top: 18px;
        position: absolute;
        right: 0px;

        h2, h3, p {
            color: $white;
            width: 100%;
        }

        p {
            font-size: 14px;
        }
    }
}

// Tile positions
// ========
.wl-1 { left: 0%; top: 0%; width: 59%;}
.wl-2 { left: 60%; top: 50%; width: 39%;}
.wl-3 { left: 40%; top: 75%; width: 19%;}
.wl-4 { left: 60%; top: 25%; width: 19%;}
.wl-5 { left: 80%; top: 0%; width: 19%;}
.wl-6 { left: 20%; top: 75%; width: 19%;}

.dl-1 { left: 0%; top: 0%; width: 59%;}
.dl-2 { left: 60%; top: 50%; width: 39%;}
.dl-3 { left: 40%; top: 75%; width: 19%;}
.dl-4 { left: 60%; top: 25%; width: 19%;}

.hp-1 { left: 0%; top: 0%; width: 59%;}
.hp-2 { left: 60%; top: 50%; width: 39%;}
.hp-3 { left: 40%; top: 75%; width: 19%;}
.hp-4 { left: 60%; top: 25%; width: 19%;}

.te-1 { left: 0%; top: 0%; width: 100%; height: 74%;}
.te-2 { left: 20%; top: 75%; width: 19%;}
.te-3 { left: 40%; top: 75%; width: 19%;}
.te-4 { left: 60%; top: 75%; width: 19%;}

.ig-arrow {
    cursor: pointer;
    opacity: 0.7;
    position: absolute;
    top: 45%;
    z-index: 3;

    &.leftarrow { left: 12px; }
    &.rightarrow { right: 12px; }
}